﻿@import "_global-variables.less";

/*
  Used to style the check-in screens

  1. Check-in specific variables
  2. Bootstrap Overrides
  3. Global Styles
  4. Components
  5. Specific Page Styles
  6. Scroll container
  7. Kiosk Manager

*/

// 1. Check-in specific variables
// -------------------------
@checkin-scrollbar-bg: fade(@text-color, 50%);


// 2. Bootstrap Overrides
// -------------------------

h1, h2, h3 {
  letter-spacing: -0.03em;
}

h1 {
  font-size: 28px;
  color: @header-text-color;
}

.close
{
  color: @header-text-color;
}

.form-group label
{
  font-size: 18px;
  margin-bottom: 6px;
}

.btn-checkin-select
{
  font-weight: @font-weight-semibold;
  font-size: 24px;
  margin-bottom: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

// 3. Global Styles
// -------------------------

// turn off configuration items
#cms-admin-footer
{
  display: none;
}

.config-bar
{
  display: none;
}

.btn-dimmed
{
  opacity: 0.33;  // todo does this look good JME
}

// set page background
body {
  .checkinBackground;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
  .checkinBackgroundRetina()
  }
}


// 4. Components
// -------------------------

// checkin header items

.checkin-header
{
  margin-top: 45px;
  margin-bottom: 24px;

  h1 {
    font-size: 48px;
    font-weight: @header-font-weight;
  }

  .checkin-sub-title {
    color: @subheader-text-color;
    font-size: 24px;
    font-weight: @subheader-font-weight;
    margin-top: 12px;
  }
}

.btn .checkin-sub-title // button sub-text
{
  font-size: 20px;
  font-weight: @checkin-button-alttext-weight;
  margin-left: 20px;
  white-space: normal;
}

// checkin body items

.checkin-body
{

  .checkin-actions {
    text-align: right;

    .btn {
      font-size: 36px;
    }
  }
}

.checkin-search-actions a
{
  padding: 20px 48px;
  font-size: 48px;
  line-height: 48px;
  font-weight: @checkin-button-text-weight;
}

.checkin-start {
  text-align: center;
  margin-top: 25%;
}

// checkin footer

.checkin-footer
{
  position: absolute;
  bottom: 0;
  margin-bottom: 12px;
  margin-top: 6px;
}

.checkin-actions {

  a {
    font-size: 22px;
    font-weight: @checkin-button-text-weight;
    padding: 12px 24px;

    &.btn-primary {
      font-size: 28px;
      padding: 14px 26px;
    }
  }
}

// time select checkbox
.btn-checkbox
{
  padding: 24px;
  background-color: @btn-default-bg;
  color: @btn-default-color;
  border-color: @btn-default-border;
  font-size: 20px;

  &.active {
    background-color: @btn-primary-bg;
    color: @btn-primary-color;
    border-color: @btn-primary-border;
  }

  i {
    font-size: 92px;
    display: block;
    line-height: 92px;
  }

  &.active i:before { // checked icon
    content: "\f046";
  }
}

/* Ten Key Keypad */
.tenkey
{
  width: 320px;

   a.btn {
    margin: 2px;
    width: 80px;
    height: 80px;
  }

   a:focus, a:active {
       background-color: @btn-default-bg;
   }

   a.digit {
    font-size: 48px;
    font-weight: @font-weight-semibold;
  }

   a.command {
     font-size: 20px;
     font-weight: @font-weight-light;
     padding-top: 28px;
   }
}

/* bootbox modal styles */
.bootbox {
  z-index: @zindex-popover;

  .modal-content {
    background-color: @bg-color;
  }

  .modal-footer {
    border-top-color: lighten(@bg-color, 20%);
  }
}

// checkin override button
.btn-checkin-override {
    position: absolute;
    width: 110px;
    height: 110px;
    bottom: 0;
    right: 0;
    border: 0;
    background-color: transparent;
}

// 5. Specific Page Styles
// -------------------------

// search page
.checkin-search-body {
  margin-right: auto !important;
  margin-left: auto !important;
  width: 260px;
}

input.checkin-phone-entry
{
  height: 60px;
  font-weight: @checkin-button-text-weight;
  font-size: 36px;
  padding: 6px 20px;
  width: 260px; // keypad is 320 - padding (24px x 2)
  float: left;
  margin-bottom: 10px;
}

.checkin-phone-keypad
{
  float: left;
  margin-bottom: 12px;
}

// time select
.checkin-time-select {
  margin: 0 auto;
  display: table;
}

.checkin-timelist {
  margin-bottom: 12px;
}

// checkin summary page
.checkin-summary
{
  list-style-type: none;

  li {
    font-size: 22px;
    margin-bottom: 18px;
    color: @text-color;
  }
}

// 
// 6. Scroll Container
// --------------------------------------

.checkin-scroll-panel {
  position: absolute;
  z-index: 1;
  top: 45px;
  bottom: 48px;
  width: 100%;
  overflow: hidden;
}

.scroller {
  padding-right: 40px;
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.iScrollIndicator {
  box-sizing: border-box;
  position: absolute;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
  transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1);
  -webkit-transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1);
  display: block;
  min-height: 100px;
  transform: translate(0px, 0px) translateZ(0px);
  background-color: @checkin-scrollbar-bg;
}

.iScrollVerticalScrollbar,
.iScrollLoneScrollbar {
  position: absolute;
  z-index: 1;
  width: 30px;
  bottom: 2px;
  top: 2px;
  right: 1px;
  overflow: hidden;
}

// 
// 7. Kiosk Manager
// --------------------------------------

.kioskmanager-activate {
    position: absolute;
    bottom: 8px;
    right: 12px;
    opacity: .5;
    color: @text-color;

    &:hover {
        color: @text-color;
    }
}

.kioskmanager-locations {
    max-width: 75%;
}

.kioskmanager-location {
    margin: 0 60px 0 0;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: @border-radius-base;
    position: relative;
    .clearfix();

    .kioskmanager-location-toggle {
        float: left;
        margin-top: 4px;
    }

    .kioskmanager-location-label{
        font-weight: 600;
        font-size: 36px;
        padding-left: 8px;
        float: left;
    }

    .kioskmanager-location-count {
        font-weight: 600;
        font-size: 24px;
        position: absolute;
        right: 12px;
        margin-top: 12px;
    }
}

.kioskmanager-actions {
                position: absolute;
                bottom: 0px;
                left: 75%;
            }

.kioskmanager-counts {
    .kioskmanager-count-locations {

    }

    .kioskmanager-count h3,
    .kioskmanager-count li
    {
        color: @text-color;
    }

    .kioskmanager-count-locations,
    .kioskmanager-count-groups,
    .kioskmanager-count-schedules
    {
        list-style: none;
        padding: 0;
    }

    .kioskmanager-count-locations > li
    {
        float: left;
        margin-right: 12px;
    }

    .kioskmanager-counts ul li
    {
        float: left;
        margin-right: 24px;
    }
}